* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: '__Inter_8aeac8', Inter, sans-serif;
}
.navbar{
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  background-color: white;
  border-bottom: 1px solid lightgray;
  width: 100%;
}
.left{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 30px;
  gap: 10px;
}
.left p{
  color: rgb(228, 223, 223);
  font-weight: bold;
}
.left:hover{
  cursor: pointer;
}
.right{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 30px;
  font-size: 14px;
  gap: 30px;
}
.right a{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-weight: 500;
  font-family: '__Inter_8aeac8', Inter, sans-serif 
}
.right a:hover{
  color: orangered;
}
.right button{
  font-weight: 700;
  font-family: '__Inter_8aeac8', Inter, sans-serif ;
  border: 1px solid;
  padding: 12px 55px;
  background-color: transparent;
  border-radius: 10px;
}
.right button:hover{
  background-color: rgb(233, 231, 231);
}
.tabs {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  background: rgb(247 250 255);
  padding: 10px 0 14px;
  gap: 30px;
}
.tab {
  background: none;
  border: none;
  font-size: 15px;
  font-weight: 600;
  color: #1a1a1a;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 8px;
}
.active{
  border-radius: 30px;
  border: 1px solid lightgray;
  background-color: white;
  padding: 2px 10px;
}
.tab img {
  width: 28px;
  height: 28px;
}
.main{
  display: flex;
}
.left-section{
  width: 813px;
  margin: 30px 20px 0px 50px;
}
.heading{
  width: 100%;
  font-family: '__Inter_8aeac8', Inter, sans-serif;
}
.heading h1{
  font-weight: 550;
  margin-bottom: 10px;
}
.heading p{
  font-size: 16px;
  font-weight: 540;
  margin-bottom: 15px;
}
.flight-booking{
  width: 100%;
  height: 370px;
  border: 1px solid lightgray;
  border-radius: 20px;
}
.options{
  padding: 50px 40px 0px 40px;
  display: flex;
  align-items: center;
  gap: 50px;
  font-family: '__Inter_8aeac8', Inter, sans-serif;
  font-size: 1rem;
  font-weight: 550;
}
.trip{
  display: flex;
  align-items: center;
  gap: 8px;
}
.economy{
  display: flex;
  align-items: center;
  gap: 8px;
}
.trip .bi-arrow-right{
  font-size: 1.2rem;
}
.economy .bi-person{
  font-size: 1.5rem;
}
.top-options {
    display: flex;
    gap: 30px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  margin-top: 16px;
  margin-bottom: 16px;
  position: relative;
}
.where{
  display: flex;
  align-items: center;
  width: 45%;
  border: 1px solid lightgray;
  border-radius: 5px 0 0 5px;
  padding: 8px 20px;
  gap:20px
}
.where-to{
  display: flex;
  align-items: center;
  width: 45%;
  border: 1px solid;
  border: 1px solid lightgray;
  border-radius: 0px 5px 5px 0;
  padding: 12px 20px;
  gap:20px
}
.where input{
  border: 0px;
}
.where input:focus{
  border: none;
  outline: none;
}
.where input::placeholder{
   color: #bbb8b8;
   font-size: 1rem;
}
.where-to input{
  border: 0px;
}
.where-to input:focus{
  border: none;
  outline: none;
}
.where-to input::placeholder{
   color: #bbb8b8;
   font-size: 1rem;
}
.svgtwo{
  position: relative;
  left: 120px;
}
.date{
  display: flex;
  align-items: center;
  width: 45%;
  border: 1px solid lightgray;
  border-radius: 5px 0 0 5px;
  padding: 12px 20px;
  gap:20px
}
.date p{
  font-family: '__Inter_8aeac8', Inter, sans-serif;
  font-weight: 600;
}
.return p{
  font-family: '__Inter_8aeac8', Inter, sans-serif;
  font-weight: 600;
  color: #bbb8b8;;
}
.date input{
  border: 0px;
}
.date input:focus{
  border: none;
  outline: none;
}
.date input::placeholder{
   color: #bbb8b8;
   font-size: 1rem;
}
.return{
  display: flex;
  align-items: center;
  width: 45%;
  border: 1px solid lightgray;
  border-radius:0 5px  5px 0;
  padding: 12px 20px;
  gap:20px
}
.return input{
  border: 0px;
}
.return input:focus{
  border: none;
  outline: none;
}
.return input::placeholder{
   color: #bbb8b8;
   font-size: 1rem;
}
.fare-options {
  margin-left: 40px;
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
}
.fare-options button {
  border: 1px solid lightgray;
  background-color: transparent;
  border-radius: 20px;
  padding: 8px 14px;
  font-family: '__Inter_8aeac8', Inter, sans-serif;
  font-size: 15px;
  font-weight: 100;
  cursor: pointer;
}
.buttons{
  display: flex;
  justify-content: space-around;
  padding: 2px 5px;
}
.savings-button-container {
    display: flex;
    align-items: center;
    padding: 15px 15px;
    border-radius: 12px; 
    background-image: linear-gradient(90deg,white,rgb(190, 217, 238));
    border: 1px solid #d4e3ff; 
    font-family: Arial, sans-serif;
    height: 55px;
    padding-right: 100px;
}
.checkmark-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid;
    font-size: 14px;
    margin-right: 15px;
}
.main-text {
    font-size: 16px;
    font-weight: 500; 
    color: #333;
    display: flex;
    align-items: center;
    gap: 8px; 
}
.sub-text {
    font-size: 14px;
    color: #666; 
    margin-top: 2px;
}
.new-tag {
    background-color: #ff471a;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    padding: 4px 6px;
    border-radius: 4px;
}
.search-btn {
  height: 55px;
  background-color: #ff4f17;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 5px 80px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.search-btn:hover {
  background-color: #c63d0f;
}
.right-section {
  width: 330px;
}
.ad{
  margin-top: 30px;
}
.ad img {
  width: 100%;
  height: 204px;
  border-radius: 12px;
  margin-bottom: 20px;
  animation: img 16s 3s linear infinite;
}
@keyframes img {
  25%{content: url(https://rukmini-ct.flixcart.com/f_auto,q_auto,w_260,h_205,dpr_2/offermgmt-prod/offermgmt/images/banner/RR_idfc_11nov.jpg);}
  50%{content: url(https://rukmini-ct.flixcart.com/f_auto,q_auto,w_260,h_205,dpr_2/offermgmt-prod/offermgmt/images/banner/RR_HDFC_11NOV.png);}
  75%{content: url(https://rukmini-ct.flixcart.com/f_auto,q_auto,w_260,h_205,dpr_2/offermgmt-prod/offermgmt/images/banner/RR_Godigit_E_2202.jpg);}
  100%{content: url(https://rukmini-ct.flixcart.com/f_auto,q_auto,w_260,h_205,dpr_2/offermgmt-prod/offermgmt/images/banner/RR_idfc_11nov.jpg);}
}
.offers-box {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
}
.offer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}
.offer-header h3 {
  font-size: 18px;
  font-weight: 600;
}

.offer-header a {
  text-decoration: none;
  color: rgb(64, 135, 241);
  font-size: 13px;
  font-weight: 600;
}
.offer-card {
  border-radius: 10px;
  padding: 20px;
  border: 1px solid rgb(228, 224, 224);
}
.offer-card a{
  text-decoration: none;
  font-weight: bold;
  color: rgb(51, 51, 239);
}
.offer-card h4 {
  margin-bottom: 20px;
  color: #1a1a1a;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 4px;
}
.offer-card p {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 13px;
  color: black;
}
.offer-banner {
  width: 813px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0px 50px 50px;
  background: #f6f0fc;
  background-image: radial-gradient(circle at 20% 40%, rgba(174, 122, 255, 0.15), transparent 40%),
                    radial-gradient(circle at 80% 60%, rgba(174, 122, 255, 0.15), transparent 40%);
  border-radius: 12px;
  font-family: "Inter", sans-serif;
  color: #1a1a1a;
}
.offer-text{
  padding: 0 20px;
}
.offer-actions{
  padding-right: 20px;
  display: flex;
  gap: 30px;
}
.learn-btn{
  background-color: transparent;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px 10px;
}
.card-grid{
  display: flex;
  margin: 30px 40px 70px;
  justify-content: space-between;
}
.card{
  width: 280px;
  height: 150px;
}
.card img{
  width: 100%;
}
.qr-code img{
  margin: 0px 20px 20px 40px;
  height: 289px;
  width: 95%;
}
.destinations-section{
  margin-left: 40px;
  margin-bottom: 80px;
}
.destination-grid{
  display: flex;
  gap: 20px;
}
.destination-card{
  height: 230px;
  width: 170px;
  border-radius: 5px;
  position: relative;
  z-index: -1;
}
.card-goa{ 
        background: url(https://rukmini-ct.flixcart.com/w_176,h_178,f_auto,q_auto,c_fill,e_sharpen:80,g_auto,fl_progressive/offermgmt-prod/offermgmt/hotelsCommonImages/tripSuggestor/goa.jpg) no-repeat center/cover; 
        }
.card-delhi{ 
        background: url(https://rukmini-ct.flixcart.com/w_176,h_178,f_auto,q_auto,c_fill,e_sharpen:80,g_auto,fl_progressive/offermgmt-prod/offermgmt/hotelsCommonImages/tripSuggestor/delhi.jpg) no-repeat center/cover; 
        }
.card-bangalore {
        background: url(https://rukmini-ct.flixcart.com/w_176,h_178,f_auto,q_auto,c_fill,e_sharpen:80,g_auto,fl_progressive/offermgmt-prod/offermgmt/hotelsCommonImages/tripSuggestor/bangalore.jpg) no-repeat center/cover; 
        }
.card-jaipur{
        background: url(https://rukmini-ct.flixcart.com/w_176,h_178,f_auto,q_auto,c_fill,e_sharpen:80,g_auto,fl_progressive/offermgmt-prod/offermgmt/hotelsCommonImages/tripSuggestor/Jaipur.png) no-repeat center/cover; 
        }
.card-pattaya{ 
        background: url(https://rukmini-ct.flixcart.com/w_176,h_178,f_auto,q_auto,c_fill,e_sharpen:80,g_auto,fl_progressive/offermgmt-prod/offermgmt/hotelsCommonImages/tripSuggestor/Pattaya.png) no-repeat center/cover;
        }
.destination-info{
  position: absolute;
  bottom: 0px;
  padding: 8px;
  color: white;
}
.destination-info p{
  color: white;
  font-weight: bold;
}
.about{
      margin: 0 10px ;
      padding:0 30px 80px ;
      line-height: 1.6;
      margin: 20px;
      font-size: 14px;
      }
    .about a{
      color: rgb(58, 58, 237);
    }
    h2 {
      margin: 20px 0px;
        }
    p {
      font-family: '__Inter_8aeac8', Inter, sans-serif ;
      font-weight:100;
      font-size: 14px;
      color: #4d4d4d;
      margin: 15px 0px 5px;
        }
    strong {
      font-weight: bold;
      color: black;
        }
    .ct{
      color: #4d4d4d;
    }
    li{
        font-family: '__Inter_8aeac8', Inter, sans-serif ;
        font-weight: 375;
        color: #4d4d4d;
        margin-left: 30px;
      }
.footer-top-row {
    display: flex;
    gap:20px;
    margin-left: 40px;
    padding-bottom: 10px;
}
.connect h6{
  color: #cfc9c9;
  font-size: 14px;
}
.logo-and-legal {
    display: flex;
}

.logo-area {
    margin-bottom: 15px;
}

.logo-placeholder {
    font-size: 24px;
    font-weight: bold;
    color: #666666;
}

.flipkart-tag {
    display: block;
    font-size: 13px;
    color: #999;
    margin-top: 5px;
}
.legal-info p {
    color: #888;
    font-size: 13px;
    margin: 0;
}
.legal-info a {
    color: #888;
    text-decoration: none;
    margin-right: 5px;
}
.nav-and-social {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    padding-top: 5px; 
}
.nav-and-social span{
  margin-left: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.main-nav-links a {
    color: black;
    text-decoration: none;
    font-size: 13px;
    font-weight: 400; 
    margin-left: 20px;
}
.cleartrip-footer{
  background-color: #f7f7f7;
  border-top: 1px solid lightgray;
  padding-top: 40px;
}
.social-connect {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.social-connect span {
    color: #4a4a4a;
    font-size: 13px;
    margin-right: 15px;
}
.nav-and-social a {
    color: #888;
    font-size: 14px;
    text-decoration: none;
}
.footer-divider {
    border: 0;
    height: 1px;
    background-color: #eee;
    margin: 20px 20px;
}
.footer-section{
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: #333;
  margin: 40px;
  line-height: 1.6;
}
.footer-section h3 {
  font-size: 12px;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 15px;
}
.footer-section div {
  display: flex;
  flex-wrap: wrap;
  gap: 12px 25px;
  margin-bottom: 40px;
}
.footer-section div a {
  text-decoration: none;
  color: #959393;
  font-size: 12px;
  transition: color 0.2s ease;
}
.footer-section div a:hover {
  color: #90b5e0;
  text-decoration: underline;
}